 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.custom-card {
  text-align: center;
  width: 80%;
  max-width: 400px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.custom-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-card-title {
  text-align: center;
}

.map-modal {
  max-width: 90%;
  width: 600px;
  height: 80%;
}