
<ion-content class="ion-padding">
  <div class="container">
    <ion-card class="custom-card">
      <ion-card-header class="custom-card-header">
        <ion-card-title class="custom-card-title">Crear publicación</ion-card-title>
      </ion-card-header>
      <ion-card-content class="custom-card-content">
        <form [formGroup]="publicacionForm" (ngSubmit)="publicar()">
          <ion-list class="custom-list">
            <ion-item class="custom-list-item" lines="none">
              <ion-label position="floating">Elegir ubicación</ion-label>
              <ion-input type="text" formControlName="ubicacion"></ion-input>
            </ion-item>
            <ion-item class="custom-list-item" lines="none">
              <label for="file-upload">
                Subir foto
                <ion-icon name="image-outline" slot="start"></ion-icon>
              </label>
              <input id="file-upload" type="file" accept="image/*" hidden formControlName="selectedFile">
            </ion-item>
            <ion-item class="custom-list-item" lines="none">
              <ion-label position="floating">Título</ion-label>
              <ion-input type="text" formControlName="titulo"></ion-input>
            </ion-item>
            <ion-item class="custom-list-item" lines="none">
              <ion-label position="floating">Descripción</ion-label>
              <ion-textarea formControlName="description"></ion-textarea>
            </ion-item>
            <ion-item class="custom-list-item" lines="none">
              <ion-label position="floating">Categoría</ion-label>
              <ion-select formControlName="categoria" interface="popover">
                <ion-select-option value="option1">Mascota perdida</ion-select-option>
                <ion-select-option value="option2">Animales en abandono</ion-select-option>
                <ion-select-option value="option3">Servicio</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-button expand="block" type="submit" [disabled]="!publicacionForm.valid">Ingresar</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>