<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Crear publicación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="container">

    <!-- Formulario usuario  -->
    <ion-card *ngIf="formularioUsuario" class="custom-card">
      <ion-card-content class="custom-card-content">
        <form [formGroup]="publicacionForm" (ngSubmit)="publicar()">
          <ion-list class="custom-list">
            <ion-item class="custom-list-item" lines="none">
              <ion-label position="floating">Ubicación (*)</ion-label>
              <ion-input type="text" [value]="ubicacionValue" formControlName="ubicacion" readonly></ion-input>
              <div>
                <ion-button (click)="obtenerUbicacionActual()">Ubicación actual</ion-button>
                <ion-button (click)="abrirMapaModal()">Elegir ubicación</ion-button>
              </div>
            </ion-item>
            <ion-item class="custom-list-item" lines="none">
              <label for="file-upload">
                Subir foto (*)
                <ion-icon name="image-outline" slot="start"></ion-icon>
              </label>
              <input id="file-upload" type="file" (change)="onFileChange($event)" accept="image/*" hidden
                formControlName="selectedFile">
            </ion-item>
            <ion-item class="custom-list-item" lines="none">
              <ion-label position="floating">Título (*)</ion-label>
              <ion-input type="text" formControlName="titulo"></ion-input>
            </ion-item>
            <ion-item class="custom-list-item" lines="none">
              <ion-label position="floating">Descripción (*)</ion-label>
              <ion-textarea formControlName="description"></ion-textarea>
            </ion-item>
            <ion-item class="custom-list-item" lines="none">
              <ion-label position="floating">Categoría (*)</ion-label>
              <ion-select formControlName="categoria" interface="popover">
                <ion-select-option value="option1">Mascota perdida</ion-select-option>
                <ion-select-option value="option2">Animales en abandono</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item class="custom-list-item" lines="none">
              <ion-label position="floating">Especie (*)</ion-label>
              <ion-input type="text" formControlName="especie"></ion-input>
            </ion-item>
            <ion-item class="custom-list-item" lines="none">
              <ion-label position="floating">Raza (*)</ion-label>
              <ion-input type="text" formControlName="raza"></ion-input>
            </ion-item>
            <ion-item class="custom-list-item" lines="none">
              <ion-label position="floating">Nombre (*)</ion-label>
              <ion-input type="text" formControlName="nombre"></ion-input>
            </ion-item>
            <ion-item class="custom-list-item" lines="none">
              <ion-label position="floating">Tipo (*)</ion-label>
              <ion-input type="text" formControlName="tipo"></ion-input>
            </ion-item>
            <ion-item class="custom-list-item" lines="none">
              <ion-label position="floating">Contacto (*)</ion-label>
              <ion-input type="text" formControlName="contacto" inputmode="numeric"></ion-input>
            </ion-item>
          </ion-list>
          <ion-button expand="block" type="submit" [disabled]="!publicacionForm.valid">Publicar</ion-button>
        </form>
      </ion-card-content>
    </ion-card>



    <!-- Formulario admin -->
    <ion-card *ngIf="formularioAdmin" class="custom-card-admin">
      <ion-card-content class="custom-card-content">
        <form [formGroup]="publicacionForm" (ngSubmit)="publicar()">
          <ion-list class="custom-list">
            <ion-item class="custom-list-item" lines="none">
              <ion-label position="floating">Ubicación (*)</ion-label>
              <ion-input type="text" [value]="ubicacionValue" formControlName="ubicacion" readonly></ion-input>
              <div>
                <ion-button (click)="obtenerUbicacionActual()">Ubicación actual</ion-button>
                <ion-button (click)="abrirMapaModal()">Elegir ubicación</ion-button>
              </div>
            </ion-item>
            <ion-item class="custom-list-item" lines="none">
              <label for="file-upload">
                Subir foto (*)
                <ion-icon name="image-outline" slot="start"></ion-icon>
              </label>
              <input id="file-upload" type="file" (change)="onFileChange($event)" accept="image/*" hidden
                formControlName="selectedFile">
            </ion-item>
            <ion-item class="custom-list-item" lines="none">
              <ion-label position="floating">Título (*)</ion-label>
              <ion-input type="text" formControlName="titulo"></ion-input>
            </ion-item>

            <ion-item class="custom-list-item" lines="none">
              <ion-label position="floating">Categoría (*)</ion-label>
              <ion-select formControlName="categoriaAdmin" interface="popover">
                <ion-select-option value="option1">Tienda</ion-select-option>
                <ion-select-option value="option2">Veterinaria</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item class="custom-list-item" lines="none">
              <ion-label position="floating">Contacto (*)</ion-label>
              <ion-input type="text" formControlName="contacto" inputmode="numeric"></ion-input>
            </ion-item>
            <ion-item class="custom-list-item" lines="none">
              <ion-label position="floating">Página web</ion-label>
              <ion-input type="text" formControlName="paginaWeb"></ion-input>
            </ion-item>
          </ion-list>
          <ion-button expand="block" type="submit" [disabled]="!publicacionForm.valid">Publicar</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>