<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Nombre de usuario</ion-label>
      <ion-input formControlName="user"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Contraseña</ion-label>
      <ion-input formControlName="confpassword" type="password"></ion-input>
    </ion-item>
    
    <ion-button expand="full" type="submit" [disabled]="!registerForm.valid">Registrarse</ion-button>
  </form>
</ion-content>
